/* Atkinson Hyperlegible Next font family */
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../assets/Atkinson Hyperlegible Next_Final/Atkinson Hyperlegible Next/AtkinsonHyperlegibleNext-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
* {
    font-family: 'Atkinson Hyperlegible Next', Arial, sans-serif;
}
.logoUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
header, footer{
    background-color: beige !important;
}
main{
    min-height: 80vh;
}
.text-justify{
  margin: 0;
  text-align: justify;
}
.btn-success, .bg-success{
    background-color: teal !important;
    border-color: teal !important;
}
.btn-danger, .bg-danger{
    background-color: #F25C54 !important;
    border-color: #F25C54 !important;
}
.btn-primary, .bg-primary{
    background-color: purple !important;
    border-color: purple !important;
}
.nav-link{
    color: black !important;
}
.anuncioImagen {
    display: block;
    max-height: 220px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: #f8f9fa;
}
iframe{
    max-width: 100%;
    max-height: 100%
}